<HR size=1 noshade>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0">
<TR>
<TD VALIGN="TOP" ALIGN="LEFT"><SMALL>
Database Design and Programming by <a href="http://www.plessl-burkhardt.ch">Roman Plessl</a>
</SMALL></TD>
<TD VALIGN="TOP" ALIGN="LEFT"></TD>
<TD ALIGN="RIGHT" VALIGN=TOP>
<A href="http://gedafe.github.io/"><IMG BORDER="0" SRC="/images/gedafe-button.gif"></A>
<A href="http://www.postgresql.org/"><IMG BORDER ="0" SRC="/images/postgresql-button.png"></A>
</TD></TR>
</TABLE>
</BODY>
</HTML>

